<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<main id="root"></main>
<script>
  var http = require("http");
  setInterval(function() {
      http.get("http://cadGallery.herokuapp.com");
  }, 300000); // every 5 minutes (300000)
</script>
